@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

html,
body {
  font-family: "Rubik", serif;
  background-color: #fbf8ec;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  position: sticky;
  background-color: rgba(251, 248, 236, 0.7568627451);
  margin-bottom: 10px;
  top: 0;
}
header nav {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}
header nav .nav_brend {
  display: flex;
  align-items: center;
  gap: 11px;
  font-weight: 900;
}
@media (max-width: 1101px) {
  header nav .nav_brend p {
    display: none;
  }
}
header nav .kotolog_input {
  display: flex;
  align-items: center;
  gap: 40px;
}
header nav .kotolog_input .kotolog_input_1 {
  display: flex;
  align-items: center;
  gap: 16px;
}
header nav .kotolog_input .kotolog_input_1 .button_div {
  padding: 8px !important;
  display: flex;
  align-items: center;
  gap: 16px;
  background: #70c05b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
header nav .kotolog_input .kotolog_input_1 .button_div img {
  width: 24px;
  border-radius: 4px;
}
header nav .kotolog_input .kotolog_input_1 .button_div a {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
}
@media (max-width: 978px) {
  header nav .kotolog_input .kotolog_input_1 .button_div a {
    display: none;
  }
}
header nav .kotolog_input .kotolog_input_1 .input {
  display: flex;
  align-items: center;
  position: relative;
}
header nav .kotolog_input .kotolog_input_1 .input input {
  padding: 10px !important;
  outline: none;
  width: 374px;
  border: 1px solid #70c05b;
  border-radius: 4px;
}
@media (max-width: 913px) {
  header nav .kotolog_input .kotolog_input_1 .input input {
    transition: 1s;
    width: 304px;
  }
}
@media (max-width: 500px) {
  header nav .kotolog_input .kotolog_input_1 .input input {
    max-width: 250px;
    transition: 1s;
  }
}
@media (max-width: 449px) {
  header nav .kotolog_input .kotolog_input_1 .input input {
    transition: 1s;
    max-width: 200px;
  }
}
@media (max-width: 385px) {
  header nav .kotolog_input .kotolog_input_1 .input input {
    transition: 1s;
    max-width: 170px;
  }
}
@media (max-width: 355px) {
  header nav .kotolog_input .kotolog_input_1 .input input {
    transition: 1s;
    max-width: 130px;
  }
}
header nav .kotolog_input .kotolog_input_1 .input img {
  position: absolute;
  top: 8px;
  right: 10px;
  max-width: 24px;
}
@media (max-width: 1153px) {
  header nav .kotolog_input {
    gap: 10px;
    transition: 1s;
  }
}
@media (max-width: 783px) {
  header nav .kotolog_input .kotolog_input {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
header nav .kotolog_input .nav-div_btn {
  display: none;
}
header nav .kotolog_input .nav-div_btn img {
  width: 100%;
}
@media (max-width: 816px) {
  header nav .kotolog_input .nav-div_btn {
    display: block;
    border: none;
    background-color: #fbf8ec;
  }
}
header nav .kotolog_input .nav-div {
  display: flex;
  align-items: center;
  gap: 50px;
}
header nav .kotolog_input .nav-div .layk {
  display: block;
  align-items: center;
  flex-direction: column;
}
header nav .kotolog_input .nav-div .layk img {
  display: flex;
  margin: 0 auto;
}
header nav .kotolog_input .nav-div .layk p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
header nav .kotolog_input .nav-div .kub {
  display: block;
  align-items: center;
  flex-direction: column;
}
header nav .kotolog_input .nav-div .kub img {
  display: flex;
  margin: 0 auto;
}
header nav .kotolog_input .nav-div .kub p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
header nav .kotolog_input .nav-div .karzinka {
  display: block;
  align-items: center;
  flex-direction: column;
}
header nav .kotolog_input .nav-div .karzinka img {
  display: flex;
  margin: 0 auto;
}
header nav .kotolog_input .nav-div .karzinka p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
header nav .kotolog_input .nav-div .select_Img {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
header nav .kotolog_input .nav-div .select_Img .select_Img_1 {
  display: flex;
  gap: 10px;
}
header nav .kotolog_input .nav-div .select_Img .a_select {
  display: flex;
  align-items: center;
  border: none;
  background-color: #fbf8ec;
  gap: 10px;
  cursor: pointer;
  width: 100px;
  border-radius: 30px;
}
header nav .kotolog_input .nav-div .select_Img .select_img_li {
  display: none;
  background-color: rgba(183, 113, 113, 0.306);
  padding: 10px;
  letter-spacing: 2px;
  border: 1px solid black;
  border-radius: 10px;
}
header nav .kotolog_input .nav-div .select_Img .select_img_li a {
  color: rgb(0, 0, 0);
  font-weight: 900;
  display: flex;
  flex-direction: column;
}
header nav .kotolog_input .nav-div .select_Img .select_img_li.active {
  display: block;
  font-weight: 900;
  transition: 1s;
  border-radius: 15px;
  border: 1px solid orange;
  display: flex;
  justify-content: center;
  background-color: yellow;
  margin-top: 80px;
  display: flex !important;
  flex-direction: column;
  position: absolute;
  top: -20px;
}
@media (max-width: 816px) {
  header nav .kotolog_input .nav-div .select_Img .select_img_li.active {
    display: block;
    font-weight: 900;
    transition: 1s;
    border-radius: 15px;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    background-color: yellow;
    margin-top: 80px;
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 24px;
  }
}
header nav .kotolog_input .nav-div .select_Img .select_img_li .text-content {
  color: red;
}
header nav .kotolog_input .nav-div.active {
  display: flex;
  align-items: center;
  font-weight: 900;
  transition: 1s;
  border-radius: 15px;
  border: 1px solid orange;
  display: flex;
  justify-content: center;
  background-color: #fbf8ec;
  margin-top: 80px;
  display: flex !important;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  top: -10px;
  right: 10px;
}
@media (max-width: 816px) {
  header nav .kotolog_input .nav-div {
    display: none;
  }
}
@media (max-width: 1300px) {
  header nav .kotolog_input .nav-div {
    gap: 10px;
    transition: 0.9s;
  }
}
@media (max-width: 1111px) {
  header nav .kotolog_input {
    gap: 10px;
    transition: 1s;
  }
}
@media (max-width: 407px) {
  header nav {
    gap: 10px;
  }
}
@media (max-width: 1153px) {
  header nav {
    gap: 5px;
    transition: 1s;
  }
}
@media (max-width: 1080px) {
  header nav {
    gap: 20px;
    transition: 1s;
  }
}
@media (max-width: 1098px) {
  header nav {
    gap: 10px;
    transition: 1s;
  }
}

.nav_img img {
  width: 100%;
}

main {
  margin: 120px 0 80px;
}
main .Aksiya {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .card_main {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
main .card_main .cards_main_1 {
  background-color: white;
  padding: 8px;
  max-width: 272px;
  margin: 0 auto;
}
main .card_main .cards_main_1 .cards--body img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
main .card_main .cards_main_1 .cards--body img:hover {
  transform: scale(1.07);
}
main .card_main .cards_main_1 .cards--footer {
  padding: 8px;
}
main .card_main .cards_main_1 .cards--footer .cards_one-trex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .card_main .cards_main_1 .cards--footer .cards_one-trex h1 {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
main .card_main .cards_main_1 .cards--footer .cards_one-trex p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #bfbfbf;
}
main .card_main .cards_main_1 .cards--footer .cards_two-trex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .card_main .cards_main_1 .cards--footer .cards_two-trex h1 {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
main .card_main .cards_main_1 .cards--footer .cards_two-trex p {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #bfbfbf;
}
main .card_main .cards_main_1 .cards--footer p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding-top: 8px;
}
main .card_main .cards_main_1 .cards--footer img {
  width: 100%;
  padding: 8px 0;
}
main .card_main .cards_main_1 .cards--footer button {
  padding: 8px 80px;
  border-radius: 4px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #70c05b;
  border: 1px solid #70c05b;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
}
main .card_main .cards_main_1 .cards--footer button:hover {
  background-color: #ff6633;
  color: white;
}
main .Aksiy1 {
  margin-top: 40px;
}