* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px 0;
  transition: 1s;
}
header .toggle-darkMoad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}
header .menu-search {
  display: none;
}
header .active {
  display: block;
}

.shrink {
  background-color: #2d2d2d;
  padding: 40px 0;
}

body.dark header {
  background-color: #2d2d2d;
}

.loading {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 100;
  transition: 1s;
}

.loading-none {
  opacity: 0;
  z-index: -100;
}

.backtop {
  position: fixed;
  bottom: 30px;
  right: 40px;
  display: none;
}

.cards {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media (min-width: 578px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1100px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
.cards .card {
  border: 1px solid #2d2d2d;
  border-radius: 4px;
}
.cards .card--body img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards .card--footer {
  padding: 20px;
}
.cards .card--footer h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.cards .card--footer .card--footer__desc {
  padding-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.cards .card--footer .card--footer__price {
  padding: 10px 0;
}
.cards .card--footer .card--footer__btn {
  width: 100%;
  height: 50px;
  background-color: green;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
}

body.dark {
  background-color: #2d2d2d;
}

.dark .cards .card {
  border: 1px solid white;
}

.dark .cards .card--footer .card--footer__btn {
  background-color: brown;
}