header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px 0;
  transition: 1s;
  .toggle-darkMoad {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
  }
  .menu-search {
    display: none;
  }
  .active {
    display: block;
  }
}
.shrink {
  background-color: #2d2d2d;
  padding: 40px 0;
}
body.dark header {
  background-color: #2d2d2d;
}
