@use "../utils/varibles" as color;
footer {
  background-image: url(../../images/header_img/footer_imgbg.png);
  margin-top: 80px;
  padding: 24px 0;
  .footer_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer_text {
      display: flex;
      align-items: center;
      gap: 40px;
      justify-content: space-between;
      a {
        .path_3 {
          fill: #414141;
        }
        .path_4 {
          fill: #414141;
        }
      }
      .footer_text_a {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    }
    .footer_icons {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
      .foooter_icon {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
  @media (max-width: 1222px) {
    .footer_nav {
      display: flex;
      flex-direction: column;
    }
  }
  .footer_bootom_p {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
    gap: 8px;
  }
}
