@use "../utils/varibles" as color;
@use "../utils/mixins" as flex;

header {
  background-color: #fbf8ec;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1;

  #backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  #backToTopBtn:hover {
    background-color: #0056b3;
  }

  #backToTopBtn.show {
    display: block;
  }
  nav {
    @include flex.dlf(flex, center, space-between, 0);
    padding: 20px 0;
    .nav_brend {
      @include flex.dlf(flex, center, center, 11);
      font-weight: 900;
      a {
        .path_3 {
          fill: #414141;
        }
        .path_4 {
          fill: #414141;
        }
      }
      p {
        @include flex.dlf(flex, center, center, 11);
        font-weight: 900;
      }
    }
    @media (max-width: 1101px) {
      .nav_brend p {
        display: none;
      }
    }
    .kotolog_input {
      @include flex.dlf(flex, center, center, 0);
      gap: 40px;
      .kotolog_input_1 {
        @include flex.dlf(flex, center, center, 16);
        .button_div {
          display: block;
          background: color.$btn_green;
          padding: 8px;
          cursor: pointer;
          display: flex;
          align-items: center;
          border-radius: 4px;
          gap: 8px;
          font-weight: 400;
          line-height: 24px;
          text-decoration-skip-ink: none;
          border: none;
          position: relative;
          img {
            width: 24px;
            border-radius: 4px;
          }
          a {
            color: color.$bg_white;
            font-size: 16px;
            @media (max-width: 993px) {
              span {
                display: none;
              }
            }
          }
          .button_div_one {
            display: none;
            transition: 1;
            &.active {
              display: block;
              font-weight: 900;
              border-radius: 15px;
              border: 1px solid orange;
              justify-content: center;
              background-color: rgb(227, 241, 228);
              margin-top: 81px;
              margin-left: 70px;
              flex-direction: column;
              position: absolute;
              top: -40px;
            }
            ul {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 126px;
              padding: 40px 166px;
              left: -320px;
              position: absolute;
              flex-wrap: nowrap;
              top: 20px;
              max-width: 1230px;
              background-color: color.$bg_white;

              @media (max-width: 1304px) {
                & {
                  gap: 106px;
                }
              }
              @media (max-width: 1178px) {
                & {
                  left: -140px;
                  gap: 66px;
                  padding: 40px 100px;
                }
              }
              @media (max-width: 965px) {
                & {
                  flex-direction: column;
                  gap: 16px;
                  padding: 40px 30px;
                }
              }

              @media (max-width: 882px) {
                & {
                  left: -60px;
                }
              }
              @media (max-width: 507px) {
                & {
                  left: -170px;
                  top: 0;
                }
              }
              li {
                display: flex;
                flex-direction: column;
                gap: 14px;
                a {
                  color: black;
                  font-family: Rubik;
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 24px;
                  text-align: left;
                  &:hover {
                    text-decoration: revert;
                    color: red;
                  }
                }
              }
            }
          }
        }

        .input {
          @include flex.dlf(flex, center, none, 0);
          position: relative;
          input {
            padding: 10px !important;
            outline: none;
            width: 374px;
            border: 1px solid color.$btn_green;
            border-radius: 4px;
          }
          @media (max-width: 949px) {
            input {
              transition: 1s;
              width: 304px;
            }
          }
          @media (max-width: 524px) {
            input {
              max-width: 250px;
              transition: 1s;
            }
          }
          @media (max-width: 470px) {
            input {
              transition: 1s;
              max-width: 200px;
            }
          }
          @media (max-width: 418px) {
            input {
              transition: 1s;
              max-width: 170px;
            }
          }
          @media (max-width: 389px) {
            input {
              transition: 1s;
              max-width: 130px;
            }
          }
          img {
            position: absolute;
            top: 8px;
            right: 10px;
            max-width: 24px;
          }
        }
      }
      @media (max-width: 1153px) {
        gap: 10px;
        transition: 1s;
      }

      @media (max-width: 783px) {
        .kotolog_input {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
      .nav-div_btn {
        display: none;
        img {
          width: 100%;
        }
      }
      @media (max-width: 879px) {
        .nav-div_btn {
          display: block;
          border: 1px solid black;
          border-radius: 4px;
          background-color: color.$bg_yellow;
        }
      }
      .nav-div {
        display: flex;
        align-items: center;
        gap: 24px;
        .layk {
          @include flex.dlf(block, center, none, 0);
          flex-direction: column;
          svg {
            display: flex;
            margin: 0 auto;
            path {
              fill: #414141;
            }
          }
          p {
            @include flex.size(12, 0, none, 8px, 0, center);
            font-weight: 400;
            line-height: 18px;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
        }
        .kub {
          @include flex.dlf(block, center, none, 0);
          flex-direction: column;
          svg {
            display: flex;
            margin: 0 auto;
          }
          p {
            @include flex.size(12, 0, none, 8px, 0, center);
            font-weight: 400;
            line-height: 18px;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
        }
        .karzinka {
          @include flex.dlf(block, center, none, 0);
          flex-direction: column;
          position: relative;
          margin-top: 0px;
          cursor: pointer;
          .cartCount {
            position: absolute;
            top: 5px;
            z-index: 9999;
            right: 13px;
            font-family: cursive;
            font-size: 14px;
            color: white;
            padding: 0px 3px;
            border-radius: 2px;
            background-color: #6b00f3;
          }
          svg {
            display: flex;
            align-items: center;
          }
          p {
            @include flex.size(12, 0, none, 8px, 0, center);
            font-weight: 400;
            line-height: 18px;
            margin-left: -10px;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
        }
        .select_Img {
          @include flex.dlf(flex, center, none, 0);
          flex-direction: column;
          gap: 10px;
          .select_Img_1 {
            display: flex;
            gap: 10px;
          }
          .a_select {
            @include flex.dlf(flex, center, none, 10);
            @include flex.size(0px, 0, none, 8px, 0, center);
            background-color: color.$bg_yellow;
            cursor: pointer;
            width: 100px;
            border-radius: 30px;
            p {
              color: rgb(182, 182, 182);
              font-size: 14px;
            }
          }
          .select_img_li {
            @include flex.dlf(none, center, none, 0);
            @include flex.size(0px, 0, 1px solid black, 10px, 0, none);
            background-color: rgba(183, 113, 113, 0.306);
            letter-spacing: 1px;
            position: relative;
            a {
              color: rgb(0, 0, 0);
              font-weight: 900;
              display: block;
            }
            #togel {
              @include flex.dlf(black, center, none, 0);
              @include flex.size(0px, 20, none, 10px, 0, 5px 0 0 0);
              @include flex.px(45, 28);
              position: relative;
              background-color: #adaaaa;
              transition: 0.5s;
              box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                inset 0 8px 8px rgba(0, 0, 0, 0.1) inset 0 -4px 4px rgba(0, 0, 0, 0.1);
              .indicator {
                position: absolute;
                top: 1.3px;
                left: 1.5px;
                margin: 0 auto;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                transform: scale(0.9);
                box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                  inset 0 4px 4px rgba(255, 255, 255, 0.2),
                  inset 0 -4px -4px rgba(255, 255, 255, 0.2);
                transition: 0.5s;
                cursor: pointer;
                .sun {
                  display: none;
                }
              }
              &.active .indicator {
                left: 25px;
                .sun {
                  display: block;
                  margin-top: 2.9px;
                  margin-left: -3px;
                  width: 20px;
                }
                .moon {
                  display: none;
                }
              }
            }
            &.active {
              @include flex.dlf(flex, center, center, 0);
              font-weight: 900;
              transition: 1s;
              border-radius: 15px;
              border: 1px solid orange;
              justify-content: center;
              background-color: rgb(227, 241, 228);
              margin-top: 81px;
              margin-left: 70px;
              flex-direction: column;
              position: absolute;
              top: -40px;
            }
            @media (max-width: 879px) {
              &.active {
                display: block;
                font-weight: 900;
                transition: 1s;
                border-radius: 15px;
                border: 1px solid orange;
                display: flex;
                justify-content: center;
                background-color: #e3f1e4;
                margin-top: 80px;
                display: flex !important;
                flex-direction: column;
                position: absolute;
                top: 150px;
                right: 14px;
              }
            }
            .text-content {
              color: red;
            }
          }
        }
        &.active {
          display: flex;
          align-items: center;
          font-weight: 900;
          transition: 1s;
          border-radius: 15px;
          border: 1px solid orange;
          display: flex;
          justify-content: center;
          background-color: color.$bg_yellow;
          margin-top: 80px;
          display: flex !important;
          flex-direction: column;
          padding: 10px;
          position: absolute;
          top: -10px;
          right: 10px;
        }
      }
      @media (max-width: 879px) {
        .nav-div {
          display: none;
        }
      }
      @media (max-width: 1300px) {
        .nav-div {
          gap: 10px;
          transition: 0.9s;
        }
      }
    }
    @media (max-width: 1111px) {
      .kotolog_input {
        gap: 10px;
        transition: 1s;
      }
    }
  }
  .header_img {
    background-image: url(../../images/header_img/vegetables_bg.svg);
    background-color: rgba(255, 255, 255, 0.527);
    background-blend-mode: color-dodge;
    .header_img-img {
      display: flex;
      align-items: center;
      h1 {
        font-family: Rubik;
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #414141;
      }
      @media (max-width: 702px) {
        & {
          display: block;
        }
      }
    }
  }
  @media (max-width: 407px) {
    nav {
      gap: 10px;
    }
  }
  @media (max-width: 1153px) {
    nav {
      gap: 5px;
      transition: 1s;
    }
  }
  @media (max-width: 1080px) {
    nav {
      gap: 20px;
      transition: 1s;
    }
  }
  @media (max-width: 1098px) {
    nav {
      gap: 10px;
      transition: 1s;
    }
  }
}
.loading_ {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 40%;
    object-fit: cover;
  }
}
.loading-none {
  opacity: 0;
  z-index: -99999;
}
