* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: antiquewhite;
}
main {
  margin: 20px 0 0 0;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
input {
  padding: 10px;
  max-width: 400px;
  outline: none;
  border-radius: 10px;
  font-family: cursive;
  font-size: 20px;
  margin-bottom: 20px;
}
div {
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: cursive;
  font-size: 32px;
  margin-bottom: 10px;
}
button {
  max-width: 150px;
  padding: 8px;
  background-color: cadetblue;
  font-family: cursive;
  font-size: 16px;
  color: rgb(255, 226, 226);
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
.card {
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(11, 11, 142, 0.301);
}
header {
  position: sticky;
  top: 0;
  background-color: rgba(250, 235, 215, 0.742);
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 9fr);
  gap: 20px;
}

@media (max-width: 1050px) {
  .cards {
    grid-template-columns: repeat(3, 10fr);
  }
}
@media (max-width: 864px) {
  .cards {
    grid-template-columns: repeat(2, 12fr);
  }
}
@media (max-width: 572px) {
  .cards {
    grid-template-columns: repeat(1, 20fr);
  }
}
